<h2>All Shelters</h2>

<ul class="list-group">
  <% @shelters.each do |shelter| %>
    <li class="list-group-item shelter-list-item">
      <%= link_to "#{shelter.name}", "/shelters/#{shelter.id}" %>
      <%= link_to 'Update', "/shelters/#{shelter.id}/edit", class: "btn btn-light update-btn", id: "#{shelter.id}" %>
    </li>
  <% end %>
</ul></br>

<div class="button">
  <%= link_to 'New Shelter', '/shelters/new', class: "btn btn-primary" %>
</div>
