<h2>All Shelters</h2>

<ul class="list-group">
  <% @shelters.each do |shelter| %>
    <li class="list-group-item"><%= link_to "#{shelter.name}", "/shelters/#{shelter.id}" %></li>
  <% end %>
</ul></br>

<%= link_to 'New Shelter', '/shelters/new', class: "btn btn-primary" %>
